<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <form class="form-horizontal">
    <fieldset>
      <legend>New APS referral</legend>
      <div class="form-group">
        <label class="col-md-4 control-label" for="id">ID</label>
        <div class="col-md-4">
        <input ng-model="vm.patient_id" id="id" name="id"
         type="number"
         placeholder="patient URN"
         class="form-control input-md" required="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-success" ng-click="vm.submit()">Referx</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
