<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-if="vm.loggedIn()" ui-sref="patients">Patients</a></li>
        <li><a ng-if="vm.loggedIn()" ui-sref="new">New</a></li>
        <li><a ng-if="vm.loggedIn()" ui-sref="Appointments">Appointments</a></li>
        <li><a ng-if="vm.loggedIn()" ui-sref="EpisodesOfCare">EoCs</a></li>
      </ul>
      <p class="navbar-text navbar-right">
        <span am-time-ago="vm.loginExpires()"></span>
      </p>
      <ul class="nav navbar-nav navbar-right">
          <li ng-if="vm.loggedIn()"><a ng-click="vm.logout()">Log out</a></li>
          <li ng-if="!vm.loggedIn()"><a ui-sref="login">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
