<div class="container">

  <div class="jumbotron text-center">
<form class="form-horizontal">
<fieldset>

<legend>Login to APS</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="id">ID</label>
  <div class="col-md-4">
  <input ng-model="login.id" id="id" name="id"
   type="text"
   placeholder="your MHS staff ID number"
   class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input ng-model="login.password"
      id="password" name="password"
      type="password"
      placeholder="your MHS password"
      class="form-control input-md" required="">
    <span class="help-block">Use 123 to log in</span>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success" ng-click="login.submit()">Login</button>
  </div>
</div>

</fieldset>

</form>

  </div>

</div>
