<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="jumbotron text-center">
    <h1>Welcome to APS </h1>
    <p class="lead">Comfort always</p>
      <button type="button" class="btn btn-lg btn-info"
      ng-click="main.showToastr()">Warning</button>
    </p>
  </div>

  <div>

</div>

<h6>connected to {{main.server}}</h6>
<h6>storing to {{main.storageType}}
{{main.storageSupported}}
(currently {{main.storageSize}})</h6>
