<div class="">

<div class="list-group">
<button class="list-group-item list-group-item-info"
  ng-click="expanded[vm.data.id] = !expanded[vm.data.id]"
  ng-repeat="item in vm.data"
  >
  <span ng-switch="vm.resource">
    <span ng-switch-when="Flag">
      <mml-patient-flag expanded="expanded[id]" item="item"></mml-patient-flag>
    </span>
    <span ng-switch-when="Condition">
      <span ng-if="item.verificationStatus != 'confirmed'">
        {{ item.verificationStatus }}
      </span>
      <span ng-if="item.clinicalStatus != 'active'">
        {{ item.clinicalStatus }}
      </span>
      {{ item.severity }}
      {{ item.bodySite}}
      {{ item.code.text}}
      {{ item.category}}
    </span>
    <span ng-switch-when="MedicationStatement">
      <mml-medication-statement expanded="expanded[id]" item="item"></mml-medication-statement>
      <span ng-if="item.status != 'active'">
        {{ item.status }}
      </span>


    </span>
    <span ng-switch-default>
      {{ item | json }}
    </span>

  </span>
</button>
<div>

</div>

