<span ng-if="vfm.item2.status != 'active'">
  <span class="label label-primary">
    {{ vfm.item2.status }}</span>&nbsp;
</span>
{{ vfm.item2.code}}

<div collapse="!vfm.expanded">
  <div class="well well-sm">
      {{ vfm.item2.text }}
    <mml-fhir-json item="vfm.item2"></mml-fhir-json>
  </div>
</div>

