  {{ vfm.item2.medication.text }}
  {{ vfm.item2.dosage.text }}
  <span ng-if="vfm.item2.status != 'active'">
    flag: {{ vfm.item2.status }}
  </span>
  <span ng-if="vfm.item2.wasNotTaken" class="label label-warning"
  >NOT TAKEN</span>
  <span class="label label-primary">{{ vfm.item2.start.text }}
    {{ vfm.item2.end.text }}</span>
    &nbsp;
 <span class="label label-primary">
  {{ vfm.item2.route.text }}
 </span>&nbsp;
 <span class="label label-primary">
   <span ng-if="vfm.item2.method.text">
    {{ vfm.item2.method.text }}
   </span>
  {{ vfm.item2.site.text }}
 </span>
<div collapse="!vfm.expanded">
  <div class="well well-sm">
    <div class="form-group">
        {{ vfm.item2.reasonForUse.text }}
      <div ng-if="vfm.item2.reasonForUse">
        Indication: {{ vfm.item2.reasonForUse }}
      </div>
      <div ng-if="vfm.item2.reasonNotTaken.length">
        Reason not taken: {{ vfm.item2.reasonNotTaken | json}}
      </div>
      <div ng-if="vfm.item2.note">
        Notes: {{ vfm.item2.note }}
      </div>
      <div ng-if="vfm.item2.supportingInformation">
        Supporting Information: {{ vfm.item2.supportingInformation | json }}
      </div>
    </div>
    <mml-fhir-json item="vfm.item"></mml-fhir-json>
  </div>
</div>

