<button type="button" class="btn btn-default btn-xs pull-right"
ng-click="vjm.toggle($event)">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</button>
<div collapse="!vjm.jsonOpen">
  <div class="well well-sm">
    {{ vjm.item | json}}
  </div>
</div>
