<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1 ng-if="vm.selected[0]">
    Loading {{vm.selected[0].patient_id}} <i class="fa fa-spinner fa-spin"></i>
  </h1>
  <table
    ng-if="!vm.selected[0]"
    tr-ng-grid items='vm.EpisodesOfCare'
    selected-items="vm.selected"
    selection-mode="SingleRow"
  ></table>

<accordion>
  <accordion-group heading="Raw" >
    <pre>{{vm.EpisodesOfCare | json}} </pre>
  </accordion-group>
</accordion>

</div>
