<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
  <h1>{{pvm.rec.patient.name}}
    <small>
    {{pvm.rec.status.age}}yo
    {{pvm.rec.status.status}}
    </small>
  </h1>
  <form
    name='registerForm'
    sf-schema="pvm.schema"
    sf-form="pvm.form"
    sf-model="pvm.model"
    ng-submit="pvm.onSubmit()"  >
  </form>

</div>
